<div class="centered-container">
    <div class="blue-text text-lighten-1 limited-text"><h5>Thank you for participating in Storiqa testing. We will come back to you with the results shortly.</h5></div>
</div>
