<div class="signin-container">
  <a href="/" class="big-blue-brand-logo"><%= inline_svg "logo.svg"%></a>
  <div class="text-container">
    <h5 class="blue-text text-lighten-1">Welcome to Storiqa testing platform!</h5>
    <p>&nbsp</p>
    <%= link_to raw("<i class='material-icons right'>#{inline_svg('github.svg')}</i>Sign in"), user_github_omniauth_authorize_path, class: "btn-large waves-effect blue github-button" %>
  </div>
</div>
